name: build-and-test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v2.1.3
        with:
          go-version: "1.20.1"

      - name: Build and test
        run: make

