name: release

on:
  push:
    tags: ["*"]

permissions:
  packages: write
  contents: write

jobs:
  create-release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch full history for goreleaser changelog

      - uses: actions/setup-go@v4.0.0
        with:
          go-version: "1.20.1"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4.4.0
        with:
          version: latest
          args: release --clean --config deploy/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update new community-images version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.43
        with:
          krew_template_file: deploy/krew/community_images.yaml
